<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <title></title>
    {% block head %}
    {% endblock %}
</head>
<body>
<div>
    <div class="headercontent">
        <label id="HeaderTitle"></label>
        <div class="dropdown" id="NavDropdown">
            <button>More
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                {% if worker %}
                    <input type="button" value="Process Ticket" onclick="window.location.href = 'process_ticket'">
                    <input type="button" value="Quest Management" onclick="window.location.href = 'quest_manage'">
                {% endif %}
                <input type="button" value="Logout" onclick="window.location.href = 'logout'">
            </div>

        </div>
    </div>
</div>
<div id="wrapper">
    {% block content %}
    {% endblock %}
</div>
<script>
    {{ static_include("base.js") | safe }}
</script>
</body>
</html>
